<%= form_with(model: architect, local: true) do |form| %>
  <% if architect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(architect.errors.count, "error") %> prohibited this architect from being saved:</h2>

      <ul>
      <% architect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <div class='col-sm-2'>
      <%= form.label :name %>
    </div>
    <div class='col-sm-10'>
      <%= form.text_field :name, id: :architect_name %>
    </div>
  </div>

  <div class="field row">
    <div class='col-sm-2'>
      <%= form.label :description %>
    </div>
    <div class='col-sm-10'>
      <%= form.text_area :description, id: :architect_description %>
    </div>
  </div>

  <div class="field">
  </div>

  <div class="field">
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
