<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='col-sm-6 building-title'>
    Sacramento Architects
  </div>
  <div class='col-sm-6 text-right'>
    <%= form_tag '/search/multisearch', method: :get  do %>
      <%= text_field_tag "search_text" %>
      <%= submit_tag "search" %>
    <% end %>
  </div>
</div>


<table>
  <tbody>
    <% @architects.each do |architect| %>
      <tr>
        <td><%= link_to architect.name, architect %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Architect', new_architect_path %>
<% end %>
