<p id="notice"><%= notice %></p>

<%= link_to 'Back to architect list', architects_path %>

<p>
  <strong>Name:</strong>
  <%= @architect.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @architect.description %>
</p>

<ul>
<% @architect.buildings.each do |building| %>
  <li>
    <%= link_to building.address1, building %>
    <%= first_thumbnail_tag(building) %>
  </li>
<% end %>
</ul>

<%= link_to "Edit '#{@architect.name}'", edit_architect_path(@architect) %> |
<%= link_to 'Destroy record', @architect, method: :delete, data: { confirm: 'Are you sure?' } %>
