<p id="notice"><%= notice %></p>

<div class='row prev-next'>
  <div class='col-sm-4'>
    <%= prev_architect_link @architect %>
  </div>
  <div class='col-sm-4 text-center'>
    <%= link_to 'Back to architect list', architects_path %>
  </div>
  <div class='col-sm-4 text-right'>
    <%= next_architect_link @architect %>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 building-title'>
    <%= @architect.name %>
  </div>
</div>

<ul>
<% @architect.buildings.each do |building| %>
  <li>
    <%= link_to building.address, building %>
    <%= first_thumbnail_tag(building) %>
  </li>
<% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to "Edit '#{@architect.name}'", edit_architect_path(@architect) %> |
  <%= link_to 'New Building', new_building_path(architect_id: @architect.id) %> |
  <%= link_to "Delete '#{@architect.name}'", @architect, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
