<p id="notice"><%= notice %></p>

<p>
<%= link_to '(Back to architect list)', architects_path %>
</p>

<p>
  <%= @architect.name %>
</p>

<ul>
<% @architect.buildings.each do |building| %>
  <li>
    <%= link_to building.address, building %>
    <%= first_thumbnail_tag(building) %>
  </li>
<% end %>
</ul>

<%= link_to "Edit '#{@architect.name}'", edit_architect_path(@architect) %> |
<%= link_to 'New Building', new_building_path(architect_id: @architect.id) %> |
<%= link_to "Delete '#{@architect.name}'", @architect, method: :delete, data: { confirm: 'Are you sure?' } %>
