<h1>Edit Building <%= @building.family %></h1>

<%= render 'form', building: @building %>

<div class='bottom-nav-links'>
  <%= link_to 'Add photo', new_image_path(building_id: @building.id), data: { turbolinks: false } %> |
  <%= link_to 'Show', @building %> |
  <%= link_to "Back to #{@building.architect.name}", architect_path(@building.architect) %>
</div>
