<h1>Edit Building <%= @building.family %></h1>

<%= render 'form', building: @building %>

<%= link_to 'Add photo', image_index_path %>
<%= link_to 'Show', @building %> |
<%= link_to "Back to #{@building.architect.name}", architect_path(@building.architect) %>
