<p id="notice"><%= notice %></p>

<div class='row prev-next'>
  <div class='col-sm-6'>
    <%= prev_building_link @building %>
  </div>
  <div class='col-sm-6 text-right'>
    <%= next_building_link @building %>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 building-title'>
    <%= @building.family %>
  </div>
</div>


<div class='building-architect row'>
  <div class='col-sm-12'>
    <%= link_to @building.architect.name, @building.architect %>, <%= @building.year %>
  </div>
</div>

<div class='row'>
  <div class='col-sm-7'>


    <div class='building-architect row'>
      <div class='col-sm-10'>
        <% if @building.images.empty? %>
          <%= google_street_view_tag(@building) %>
        <% else %>
          <% @building.images.each do |image| %>
            <img src="<%= image.path %>" class="building-image" />
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

  <div class='col-sm-5'>
    <div class='row'>
      <div class='map'>
        <% if !@building.images.empty? %>
          <%= google_street_view_tag(@building) %>
        <% end %>
        <%= embedded_map_tag(@building) %>
      </div>
    </div>
    <div class='row'>
      <div class='building-details'>
        <div class='row'>
          <div class='col-sm-6'>
            <%= @building.year %>
          </div>
          <div class='col-sm-6'>
            <%= @building.status %>
          </div>
        </div>

        <div class='row'>
          <div class='col-sm-12'>
          <%= @building.address %>
        </div>
        </div>

        <div class='row'>
          <div class='col-sm-12'>
            APN: <%= @building.apn %>
          </div>
        </div>

        <div class='row'>
          <div class='col-sm-12'>
          Notes: <%= @building.notes %>
        </div>
        </div>

        <div class='row'>
          <div class='col-sm-12'>
          Source: <%= @building.source %>
        </div>
      </div>

    </div>
    </div>
  </div>
</div>

<p>
  <strong>Type:</strong>
  <%= @building.building_type %>
</p>

<% if user_signed_in? %>
  <p>
  <%= link_to 'Edit building', edit_building_path(@building) %>
  </p>
<% end %>
