<p id="notice"><%= notice %></p>

<p>
  <strong>Architect:</strong>
  <%= @building.architect.name %>
</p>

<p>
  <strong>Apn:</strong>
  <%= @building.apn %>
</p>

<p>
  <strong>Year:</strong>
  <%= @building.year %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @building.address1 %>
</p>

<p>
  <strong>City:</strong>
  <%= @building.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @building.zip %>
</p>

<p>
  <strong>Family:</strong>
  <%= @building.family %>
</p>

<p>
  <strong>Type:</strong>
  <%= @building.building_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @building.status %>
</p>

<p>
  <strong>Source:</strong>
  <%= @building.source %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @building.notes %>
</p>

<p>
  <strong>Google street view:</strong>
  <%= gsv_or_link @building.gsv %>
</p>

<p>
  <strong>Key:</strong>
  <%= @building.key %>
</p>

<ul>
  <% @building.images.each do |image| %>
    <img src="<%= image.path %>" />
  <% end %>
</ul>

<p>
<%= link_to 'Add photo', new_image_path(building_id: @building.id), data: { turbolinks: false } %>
</p>

<p>
<%= link_to 'Edit building', edit_building_path(@building) %>
</p>

<p>
<%= link_to "Back to #{@building.architect.name}", @building.architect %>
</p>
