<p id="notice"><%= notice %></p>

<p>
  <strong>Architect:</strong>
  <%= @building.architect_id %>
</p>

<p>
  <strong>Apn:</strong>
  <%= @building.apn %>
</p>

<p>
  <strong>Year:</strong>
  <%= @building.year %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @building.address1 %>
</p>

<p>
  <strong>City:</strong>
  <%= @building.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @building.zip %>
</p>

<p>
  <strong>Family:</strong>
  <%= @building.family %>
</p>

<p>
  <strong>Type:</strong>
  <%= @building.building_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @building.status %>
</p>

<p>
  <strong>Source:</strong>
  <%= @building.source %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @building.notes %>
</p>

<p>
  <strong>Gsv:</strong>
  <%= @building.gsv %>
</p>

<p>
  <strong>Key:</strong>
  <%= @building.key %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
